* {
    box-sizing: border-box;
}

.fleshbox-container{
	display: flex;
	border: 1px solid black;
	min-height: 200px;
	flex-wrap: : wrap;
	align-items: center;
	justify-content: center;
}
.flesh-column{
	padding:20px;
	flex-basis: 100%;
}

.content{
	background-color: tomato;
	text-align: center;
	font-size: 4rem;
	height: 100%
}
@media screen and (min-width:768px) {
    .flex-column {
        flex-basis: 50%;
    }
}
@media screen and (min-width:992px) {
    .flex-column {
        flex-basis: 25%;
    }
}

/* Assign styles here */
